.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    align-items: center;
    column-gap: 18px;
}
@media screen and (max-width: 768px) {
    .navbar ul {
        column-gap: 10px;
    }
    .navbar ul li a {
        font-size: 1rem;
        padding: 3px 10px;
    }
}