.meal__item_card {
    width: 410px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #D0E7D2;
}
.meal__item_header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
}
.text_header {
    padding: 5px;
}
.text_header p {
    color: var(--text-color-gray);
    font-size: 0.9rem;
}
.meal_footer {
    padding: 15px 10px;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary  {
    font-size: 0.9rem;
}
.image {
    width: 100%;
    position: relative;
    height: 15rem;
}
.image img {
    object-fit: cover;
}
.actions {
    margin-left: auto;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: .8rem;
    border: 1px solid var(--text-color-primary);
    color: var(--text-color-primary);
}

@media screen and (min-width: 576px) {
    .meal__item_card {
        width: 350px;
    }
}