:root {
  --text-color-primary: #888;
  --text-color-second: #FFEB00;
  --text-color-light: #f7f7f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
