.header {
    gap: 3rem;
    margin: 3rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    font-size: 1.5rem;
  }
  
  .header h1 {
    color: var(--text-color-light);
    font-family: 'Montserrat', sans-serif;
  }
  .header p {
    color: var(--text-color-gray);
  }
  
  .highlight {
    color: var(--text-color-primary);
  }
  
  .main {
    width: 90%;
    max-width: 75rem;
    margin: 3rem auto;
  }
  
  .form {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--text-color-gray);
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
  }

  
  .row {
    display: flex;
    gap: 1rem;
  }
  
  .row p {
    width: 100%;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    border: 0;
    padding: 0.75rem 2rem;
    background: var(--text-color-primary);
    border: none;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }